$commonColor:#45A638;
$commonSize:14px;

@mixin Vidual{
  border-top: solid 1px $commonColor;
}
@mixin topTtl{
  dt{
    float: left;
    font-weight: bold;
    color: $commonColor;
    font-size: 20px;
  }
  dd{
    float: left;
    font-weight: bold;
    color: $commonColor;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 14px;
  }
 }

 @mixin innerPartsL{
     float: left;
 }


.top-vidual{
  @include Vidual;
  height:630px;
  position: relative;//スクロールボタン用
  .tVidual-inner-left{
    float: left;
    background: url("img/stripe.png") no-repeat;
    background-size: contain;
    width:60%;
    .left-box{
    width:670px;
    margin-top:40px;
    margin-left: auto;
   @include topTtl;
   a{
     color:#000;
     font-size: 14px;
     margin-top: 20px;
     transition: 0.3s;
     &:hover{
       color:lighten(#000, 30%);
    }
   }
 }//left-box-ends
}//tVidual-inner-left-ends

  .tVidual-inner-right{
    float: right;
    width:40%;
    background:#fff;
    .right-box{
      margin-top:40px;
      margin-left: 20px;
      width:401px;
     @include topTtl;
     h4{
       font-size: $commonSize;
       margin-top: 20px;
       color: $commonColor;
     }
     p{
       font-size: $commonSize;
       margin-top: 20px;
     }
     a{
       color:#000;
       text-align: right;
       font-size: 14px;
       margin-top: 40px;
       transition: 0.3s;
       &:hover{
         color:lighten(#000, 30%);
     }
    }

  }//right-box-ends
 }//tVidual-inner-right-ends
}//top-vidual-ends

.main-vidual{

  @include Vidual;
  height: 760px;
  background: #efefef;

  .mVidual-inner-left{
    float: left;
    width:50%;
    .left-box{
    width:302px;
    margin-top: 30%;
    margin-left: 40%;
    p{
      margin-top: 20px;
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      line-height: 1.7;
    }
  }
}//mVidual-inner-left-ends

.mVidual-inner-right{
  float: right;
  width:50%;
  .right-box{
    margin-top:40px;
    margin-left: 20px;
    width:460px;
   @include topTtl;
   img{
     display: block;
     margin-top: 40px;
   }
   p{
     font-size: $commonSize;
     margin-top: 20px;
   }
   a{
     color:#000;
     text-align: right;
     font-size: 14px;
     margin-top: 40px;
     transition: 0.3s;
     &:hover{
       color:lighten(#000, 30%);
   }
  }

}//right-box-ends
}//mVidual-inner-right-ends

}//main-vidual-ends
